body, html {
    height: 100%;
}

body {
    background-image: url("life.gif");
    height: 100%;
    backdrop-filter: blur(2px);
}
.welcome {
    color: #4caf50;
    position: absolute;
    top: 20%;
    left: 35%;
}
.register {
    display: block;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 250px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: grey;
    padding: 10px;
}
.login {
    display: block;
    position: absolute;
    top: 45%;
    left: 40%;
    width: 250px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: grey;
    padding: 10px;
}
.score {
    display: block;
    position: absolute;
    top: 65%;
    left: 40%;
    width: 250px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: grey;
    padding: 10px;
}
.score2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: solid 2px rgba(255,255,255,0.4);
    border-radius: 20px;
    background-color: grey;
    padding: 10px;
    text-align: center;
    color: #4caf50;
}
.error {
    display: block;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 250px;
    color: #4caf50;
    border: solid 2px black;
    border-radius: 20px;
    background-color: grey;
    padding: 10px;
}
.intro {
    display: block;
    position: absolute;
    top: 125%;
    left: 0%;
    width: 250px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: grey;
    padding: 10px;
}
.intro2 {
    display: block;
    position: absolute;
    top: 48%;
    left: 40%;
    width: 250px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: grey;
    padding: 10px;
}
a:link {
    color: yellow;
}

a:visited {
    color: yellow;
}
input[type="submit"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    color: white;
    font-size: 120%;
    font-weight: bold;
}

input[type="submit"]:hover {
    background: grey;
    color: white;
    transform: scale(1.3);
}
.mine {
    display: block;
    position: absolute;
    top: 35%;
    left: 40%;
    width: 280px;
    color: #4caf50;
    border: solid 2px black;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}
